Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

lint_package_update:
  name: Update package for lint environment
  entry: hatch run lint:install-packages
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_style:
  name: Check Python Style
  entry: hatch run lint:style
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_typing:
  name: Check Python Typing
  entry: hatch run lint:typing
  pass_filenames: false
  language: system
  stages:
  - pre-commit

eslint:
  name: Check JavaScript Style and Typing
  entry: npm run lint
  pass_filenames: false
  language: system
  stages:
  - pre-commit

refactor(analyze): remove unused/unneeded call to find variable in namespace
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

perf(analyze): optimize find unused refences (1.5x-2x faster)
  packages/language_server/src/robotcode/language_server/robotframework/parts/references.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
Due: lint_package_update, python_style, python_typing

fix(repl): corrected start of repl command if there is no `robot.toml` with a `path` setting
  packages/repl/src/robotcode/repl/cli/repl.py
Due: lint_package_update, python_style, python_typing

perf(analyzer): move model and token analyzing to the normal analysing stage
  packages/language_server/src/robotcode/language_server/common/parts/workspace.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/diagnostics.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/hover.py
  packages/robot/src/robotcode/robot/diagnostics/errors.py
  packages/robot/src/robotcode/robot/diagnostics/model_helper.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

fix(analyzer): decrease load load library timeout and better error messages if time out occurs
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.93.1 → 0.94.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(analyzer): fix some spellings
  packages/robot/src/robotcode/robot/diagnostics/errors.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

perf(analyzer): restructured code for handling bdd prefixes
  packages/robot/src/robotcode/robot/diagnostics/keyword_finder.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
Due: lint_package_update, python_style, python_typing

perf(analyzer): optimized analysing keyword calls
  packages/robot/src/robotcode/robot/diagnostics/keyword_finder.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

fix(analyzer): handle bdd prefixes correctly if keyword is cached
  eslint.config.mjs
  packages/robot/src/robotcode/robot/diagnostics/keyword_finder.py
  tests/robotcode/language_server/robotframework/parts/data/.vscode/settings.json
Due: lint_package_update, python_style, python_typing, eslint

fix(langserver): corrected inlay hints for bdd style keyword calls
  packages/language_server/src/robotcode/language_server/robotframework/parts/completion.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/inlay_hint.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/signature_help.py
  packages/robot/src/robotcode/robot/diagnostics/keyword_finder.py
  packages/robot/src/robotcode/robot/diagnostics/model_helper.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
Due: lint_package_update, python_style, python_typing

perf(analyzer): cache embedded arguments and some more little perf tweaks
  packages/robot/src/robotcode/robot/diagnostics/keyword_finder.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
  packages/robot/src/robotcode/robot/utils/match.py
Due: lint_package_update, python_style, python_typing

feat(discover): rework discover commands
  .vscode/launch.json
  packages/runner/src/robotcode/runner/cli/discover/discover.py
  tests/robotcode/language_server/robotframework/parts/data/tests/tasks/some_tasks.robot
  vscode-client/testcontrollermanager.ts
Due: lint_package_update, python_style, python_typing

fix(analyzer): corrected analyzing of `[Return]`, `[Setup]`, `[Teardown]` statement
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

perf(analyzer): introduced some caching for parsing variables
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
  packages/robot/src/robotcode/robot/diagnostics/entities.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/diagnostics/model_helper.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
  packages/robot/src/robotcode/robot/utils/variables.py
Due: lint_package_update, python_style, python_typing

perf(analyzer): implemented DataCache, cache files are now saved in pickle format by default instead of json
  packages/robot/src/robotcode/robot/diagnostics/data_cache.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/utils/robot_path.py
Due: lint_package_update, python_style, python_typing

fix(analyzer): corrected exception in parsing ForHeaders with invalid variable
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

fix(analyzer): fixed find variables as modules for RF > 5
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
Due: lint_package_update, python_style, python_typing

feat(analyzer): implemented better handling of imports of dynamic libraries
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
Due: lint_package_update, python_style, python_typing

fix(langserver): only update direct references to a file, not imports if something changes
  packages/language_server/src/robotcode/language_server/robotframework/parts/diagnostics.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.94.0 → 0.95.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

docs: update documentation for command line tools
  docs/03_reference/cli.md
  scripts/create_cmdline_doc.py
Due: lint_package_update, python_style, python_typing

ci: update deploy-docs workflow to update docs everytime that the docs are changed
  .github/workflows/deploy-docs.yml
Due: none

ci: correct workflows
  .github/workflows/build-test-package-publish.yml
  .github/workflows/deploy-docs.yml
Due: none

ci: correct workflows
  .github/workflows/deploy-docs.yml
Due: none

ci: only deploy docs if we a new tag is created
  .github/workflows/deploy-docs.yml
Due: none

fix(vscode): restart the language server if a change is detected in a `.gitignore` or `.robotignore` file
  vscode-client/languageclientsmanger.ts
Due: none

perf(analyzer): speed up the creation of libdocs from resource files
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_lens.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/robot_workspace.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/diagnostics/model_helper.py
  packages/robot/src/robotcode/robot/utils/ast.py
  packages/robot/src/robotcode/robot/utils/stubs.py
  packages/robot/src/robotcode/robot/utils/visitor.py
Due: lint_package_update, python_style, python_typing

fix(robot): corrected some type hint for python 3.8
  packages/robot/src/robotcode/robot/utils/robot_path.py
Due: lint_package_update, python_style, python_typing

perf(language_server): corrected handling of matching multiple keywords if keywords have embedded keywords
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf41/test_references.test[references.robot-132-001-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf41/test_references.test[references.robot-132-002-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf50/test_references.test[references.robot-132-001-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf50/test_references.test[references.robot-132-002-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf60/test_references.test[references.robot-132-001-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf60/test_references.test[references.robot-132-002-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-132-001-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf61/test_references.test[references.robot-132-002-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf70/test_references.test[references.robot-132-001-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf70/test_references.test[references.robot-132-002-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf71/test_references.test[references.robot-132-001-Embedded_keyword].out
  tests/robotcode/language_server/robotframework/parts/_regtest_outputs/rf71/test_references.test[references.robot-132-002-Embedded_keyword].out
Due: lint_package_update, python_style, python_typing

perf(analyzer): speed up finding keywords and variables a little bit more
  packages/robot/src/robotcode/robot/diagnostics/entities.py
  packages/robot/src/robotcode/robot/diagnostics/keyword_finder.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.95.0 → 0.95.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

perf(analyzer): simplify generating of internal libdocs for resource files
  packages/language_server/src/robotcode/language_server/robotframework/parts/semantic_tokens.py
  packages/robot/src/robotcode/robot/diagnostics/entities.py
  packages/robot/src/robotcode/robot/diagnostics/imports_manager.py
  packages/robot/src/robotcode/robot/diagnostics/keyword_finder.py
  packages/robot/src/robotcode/robot/diagnostics/library_doc.py
  packages/robot/src/robotcode/robot/diagnostics/namespace.py
  packages/robot/src/robotcode/robot/diagnostics/namespace_analyzer.py
Due: lint_package_update, python_style, python_typing

refactor(all): some cache adjustments and removal of unnecessary code
  packages/core/src/robotcode/core/text_document.py
  packages/core/src/robotcode/core/utils/glob_path.py
  packages/language_server/src/robotcode/language_server/robotframework/parts/code_action_refactor.py
  packages/robot/src/robotcode/robot/utils/ast.py
  packages/robot/src/robotcode/robot/utils/markdownformatter.py
  packages/robot/src/robotcode/robot/utils/match.py
  packages/robot/src/robotcode/robot/utils/stubs.py
  packages/robot/src/robotcode/robot/utils/variables.py
  packages/robot/src/robotcode/robot/utils/visitor.py
  tests/robotcode/language_server/robotframework/parts/data/.vscode/settings.json
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.95.1 → 0.95.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(vscode): corrected tmlanguage to color variables in variables section
  syntaxes/robotframework.tmLanguage.json
  syntaxes/robotframework.tmLanguage.template.json
Due: none

feat(vscode): connect vscode testrun to the debug session to link the lifecycle to of the session to the ui actions of the test run
  packages/debugger/src/robotcode/debugger/launcher/server.py
  vscode-client/testcontrollermanager.ts
Due: lint_package_update, python_style, python_typing

chore: update packages
  docs/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  lint_package_update: any of: \.py$
  python_style: any of: \.py$
  python_typing: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
