Repository robotcodedev/robotcode: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint_package_update, python_style, python_typing, eslint

lint_package_update:
  name: Update package for lint environment
  entry: hatch run lint:install-packages
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_style:
  name: Check Python Style
  entry: hatch run lint:style
  pass_filenames: false
  language: system
  stages:
  - pre-commit

python_typing:
  name: Check Python Typing
  entry: hatch run lint:typing
  pass_filenames: false
  language: system
  stages:
  - pre-commit

eslint:
  name: Check JavaScript Style and Typing
  entry: npm run lint
  pass_filenames: false
  language: system
  stages:
  - pre-commit

fix(plugin): corrected context based change current directory
  packages/core/src/robotcode/core/utils/contextlib.py
  packages/plugin/src/robotcode/plugin/__init__.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.100.1 → 0.100.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

feat(icons): change the color of the file icons back to the official colors
  icons/dark/robot-book.png
  icons/dark/robot-book.svg
  icons/dark/robot-repl.png
  icons/dark/robot-repl.svg
  icons/dark/robot.png
  icons/dark/robot.svg
  icons/light/robot-book.png
  icons/light/robot-book.svg
  icons/light/robot-repl.png
  icons/light/robot-repl.svg
  icons/light/robot.png
  icons/light/robot.svg
Due: none

feat(vscode): added "File > New File" menu support and context menu option for creating Robot files in the file explorer
  package.json
  packages/core/src/robotcode/core/uri.py
  packages/robot/src/robotcode/robot/diagnostics/document_cache_helper.py
  vscode-client/extension/languageToolsManager.ts
  vscode-client/extension/languageclientsmanger.ts
Due: lint_package_update, python_style, python_typing

fix(vscode): fixed highlightning of bold/italic in documentation
  syntaxes/robotframework.tmLanguage.json
  syntaxes/robotframework.tmLanguage.template.json
Due: none

feat(notebook): optimize robot notebook file format, remove old html output
  esbuild.mjs
  package.json
  packages/repl_server/src/robotcode/repl_server/html_writer.py
  packages/repl_server/src/robotcode/repl_server/interpreter.py
  vscode-client/extension/notebook.ts
  vscode-client/rendererHtml/css/common.csstemp
  vscode-client/rendererHtml/css/doc_formatting.csstemp
  vscode-client/rendererHtml/css/log.csstemp
  vscode-client/rendererHtml/css/print.csstemp
  vscode-client/rendererHtml/index.tsx
  vscode-client/rendererHtml/js/jquery.min.jstemp
  vscode-client/rendererHtml/js/log.jstemp
  vscode-client/rendererHtml/js/util.jstemp
  vscode-client/rendererHtml/tsconfig.json
  vscode-client/rendererHtml/types.d.ts
  vscode-client/rendererLog/log.css
  vscode-client/rendererLog/renderer.tsx
Due: lint_package_update, python_style, python_typing, eslint

chore(release): bump version 0.100.2 → 0.101.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(debugger): corrected order of sequences and values in variables view
  packages/debugger/src/robotcode/debugger/debugger.py
Due: lint_package_update, python_style, python_typing

feat(debugger): increase the portion of the variable’s value displayed in the debug view
  packages/debugger/src/robotcode/debugger/debugger.py
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.101.0 → 0.102.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(langserver): increase spaces in FOR snippet
  packages/language_server/src/robotcode/language_server/robotframework/parts/completion.py
Due: lint_package_update, python_style, python_typing

feat(notebook): implemented interupt execution and restart kernel
  package.json
  packages/repl/src/robotcode/repl/base_interpreter.py
  packages/repl_server/src/robotcode/repl_server/interpreter.py
  packages/repl_server/src/robotcode/repl_server/protocol.py
  resources/dark/restart-kernel.svg
  resources/light/restart-kernel.svg
  vscode-client/extension/languageToolsManager.ts
  vscode-client/extension/notebook.ts
  vscode-client/extension/pythonmanger.ts
  vscode-client/extension/testcontrollermanager.ts
Due: lint_package_update, python_style, python_typing

chore: update packages
  package-lock.json
  package.json
Due: none

fix(core): handle json from_dict correctly for optinal types
  packages/core/src/robotcode/core/utils/dataclasses.py
  tests/robotcode/core/test_dataclasses.py
Due: lint_package_update, python_style, python_typing

feat(langserver): implemented `window/logMessage` to log output directly to the language server protocol client
  packages/jsonrpc2/src/robotcode/jsonrpc2/protocol.py
  packages/language_server/src/robotcode/language_server/common/protocol.py
  vscode-client/extension/languageclientsmanger.ts
Due: lint_package_update, python_style, python_typing

chore(release): bump version 0.102.0 → 0.103.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

fix(langserver): don't break initialization if `initializationOptions` are in wrong format
  packages/language_server/src/robotcode/language_server/robotframework/protocol.py
Due: lint_package_update, python_style, python_typing

fix(vscode): prevent the creation of multiple output channels for language servers
  vscode-client/extension/languageclientsmanger.ts
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

Update gradle.properties
  intellij-client/gradle.properties
Due: none

chore: make codeql run with kotlin
  intellij-client/gradle.properties
Due: none

chore: integrate intellij plugin in package workflow
  .github/workflows/build-test-package-publish.yml
  cliff.toml
  pyproject.toml
  scripts/package.py
  scripts/update_git_versions.py
Due: lint_package_update, python_style, python_typing

chore: add executable flag to gradlew
  intellij-client/gradlew
Due: none

chore: update github workflow
  .github/workflows/build-test-package-publish.yml
  scripts/package.py
Due: lint_package_update, python_style, python_typing

feat(intellij): implemented correct coloring of most elements and started implementing some settings dialogs for colors, codestyle and project settings
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/BundledHelpers.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeBundle.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeCodeStyleSettings.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeCodeStyleSettingsProvider.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeLangCodeStyleSettingsProvider.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeParserDefinition.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodePostStartupActivity.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotColors.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotFrameworkLanguage.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotIcons.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotResourceFileType.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotSuiteFileType.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/listeners/RobotCodeApplicationActivationListener.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeLanguageServer.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeLanguageServerManager.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeSemanticTokensColorsProvider.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/services/MyProjectService.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/settings/ProjectSettingsConfigurableProvider.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/settings/RobotCodeColorSettingsPage.kt
  intellij-client/src/main/resources/META-INF/plugin.xml
  intellij-client/src/main/resources/META-INF/pluginIcon.svg
  intellij-client/src/main/resources/colorSchemes/RobotDarculaColorScheme.xml
  intellij-client/src/main/resources/colorSchemes/RobotDarkColorScheme.xml
  intellij-client/src/main/resources/colorSchemes/RobotLightColorScheme.xml
  intellij-client/src/main/resources/images/robot.svg
  intellij-client/src/main/resources/images/robotcode.svg
  intellij-client/src/main/resources/messages/RobotCode.properties
Due: none

style(intellij): reformat and cleanup code
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeCodeStyleSettings.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeLangCodeStyleSettingsProvider.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeParserDefinition.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeRunConfiguration.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeRunConfigurationFactory.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotCodeTextMateBundleProvider.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotIcons.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotResourceFileType.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/RobotSuiteFileType.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeLanguageClient.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeLanguageServer.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeLanguageServerFactory.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/lsp/RobotCodeLanguageServerManager.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/settings/ProjectSettingsConfigurableProvider.kt
  intellij-client/src/main/resources/META-INF/pluginIcon.svg
  intellij-client/src/main/resources/images/robot.svg
  intellij-client/src/main/resources/images/robotcode.svg
Due: none

chore: update workflow to publish intellij-package to github
  .github/workflows/build-test-package-publish.yml
Due: none

chore(release): bump version 0.103.0 → 0.104.0
  CHANGELOG.md
  intellij-client/gradle.properties
  package-lock.json
  package.json
  packages/analyze/pyproject.toml
  packages/analyze/src/robotcode/analyze/__version__.py
  packages/core/src/robotcode/core/__version__.py
  packages/debugger/pyproject.toml
  packages/debugger/src/robotcode/debugger/__version__.py
  packages/jsonrpc2/pyproject.toml
  packages/jsonrpc2/src/robotcode/jsonrpc2/__version__.py
  packages/language_server/pyproject.toml
  packages/language_server/src/robotcode/language_server/__version__.py
  packages/modifiers/src/robotcode/modifiers/__version__.py
  packages/plugin/src/robotcode/plugin/__version__.py
  packages/repl/pyproject.toml
  packages/repl/src/robotcode/repl/__version__.py
  packages/repl_server/pyproject.toml
  packages/repl_server/src/robotcode/repl_server/__version__.py
  packages/robot/pyproject.toml
  packages/robot/src/robotcode/robot/__version__.py
  packages/runner/pyproject.toml
  packages/runner/src/robotcode/runner/__version__.py
  pyproject.toml
  src/robotcode/cli/__version__.py
Due: lint_package_update, python_style, python_typing

feat(intellij): implemented brace matcher for variables
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/editor/RobotCodeBraceMatcher.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/highlighting/RobotCodeHighlighterProvider.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/highlighting/RobotTextMateHighlightingLexer.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/psi/ElementTypes.kt
  intellij-client/src/main/kotlin/dev/robotcode/robotcode4ij/psi/RobotCodeParserDefinition.kt
  intellij-client/src/main/resources/META-INF/plugin.xml
Due: none

chore(intellij): update packages
  .github/workflows/build-test-package-publish.yml
  intellij-client/gradle.properties
  intellij-client/gradle/wrapper/gradle-wrapper.properties
  intellij-client/src/main/resources/META-INF/plugin.xml
Due: none

ci: enable gradle verifyPlugin in code-quality workflow
  .github/workflows/build-test-package-publish.yml
  cliff.toml
Due: none

chore: implement version bump determination based on commit messages in update_git_version script
  scripts/tools.py
Due: lint_package_update, python_style, python_typing

chore: update packages
  docs/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  lint_package_update: any of: \.py$
  python_style: any of: \.py$
  python_typing: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$
